/* -----------INICIO----------- */
.navbar{
    background-color: #121618 !important;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
    font-weight: 1000;
    font-size: 18px;
    &:hover{
        color: #40ffc1 !important; 
        transition: all .5s;
    }
}

.imagen-header{
    width: 100%;
    height: 650px;
    background-image: url(../img/fiesta2.jpg);
    background-repeat: no-repeat;
    background-position: right 55% bottom 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .texto-header{
            background-color: #1216187a;
            border-radius: 15px;
            padding: 10px;
            box-shadow: 0px 0px 5px #ffffff;
            &:hover{
                box-shadow: 0px 0px 5px #40ffc1;
                transition: all .5s;
            }
        h2{
            color: white;
            font-weight: 500;
            padding: 10px;
        }
    }
}

.tutorial_pregunta{
    color: $colorPrimarioTextos;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    .tutorial_textos{
        h2{
            font-weight: 1000;
        }
    }
}

.pasos {  
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "tutorial_paso1"
      "tutorial_paso2"
      "tutorial_paso3";
    
    .tutorial_paso1{
        grid-area: "tutorial_paso1";
        position: relative;
    }
    .tutorial_paso2{
        @extend .tutorial_paso1;
        grid-area: "tutorial_paso2";
    }
    .tutorial_paso3{
        @extend .tutorial_paso1;
        grid-area: "tutorial_paso3";
    }
    span{
        font-weight: 600;
    }
    .card {
      position: relative;
      min-width: 320px;
      height: 350px; 
      background-color: #121618;
      border: 0;
    
      .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #2a2b2f;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: rgba(255, 255, 255, 0.03);
            }
          .content {
            padding: 20px;
            text-align: center;
              h2 {
                position: absolute;
                top: -10px;
                right: 30px;
                font-size: 8rem;
                color: rgba(255, 255, 255, 0.1);
              }
              h3 {
                font-size: 1.8rem;
                color: #fff;
                z-index: 1;
                transition: 0.5s;
                margin-bottom: 15px;
              }
              p {
                font-size: 1rem;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.9);
                z-index: 1;
                transition: 0.5s;
              }
          }
      }
    }
}

.info {
    height: 500px;
    background-color: $colorPrimario;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "info_texto"
      "info_imagen"; 

      .info_imagen{
        grid-area: "info_imagen";
        img{
            width: 100%;
        }
    }
    .info_texto{
        display: flex;
        align-items: center;
        color: $colorPrimarioTextos;
        text-align: center;
        grid-area: "info_texto";
    }
}
  
.features{
    margin-top: 550px;
}


/* -----------CATALOGO----------- */
.catalogo_titulo{
    margin-top: 100px;
}

.card-bebidas{
    position: relative;
    .card{
        position: relative;
        width: 320px;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #2d1d8a;
            clip-path: circle(150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }
        &:after{
            content: 'Vodka';
            position: absolute;
            top: 45%;
            font-size: 8em;
            font-weight: 800;
            font-style: italic;
            color: rgba(255,255,25,0.05)
        }
        .imgBx{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10000;
            width: 100%;
            height: 220px;
            transition: 0.5s;
            img{
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(25deg);
                width: 200px;
            }
        }
        .contentBx{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 10;
            a{
                display: inline-block;
                padding: 10px 20px;
                background: #fff;
                border-radius: 4px;
                margin-top: 10px;
                text-decoration: none;
                font-weight: 600;
                color: #111;
                opacity: 0;
                transform: translateY(50px);
                transition: 0.5s;
                margin-top: 0;
            }
            h2{
                position: relative;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;
                margin: 0;
            }
            .size{
                opacity: 1;
                visibility: visible;
                transition-delay: 0.5s;
                h3 {
                    color: #fff;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }
                span{
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    display: inline-block;
                    color: #111;
                    background: #fff;
                    margin: 0 5px;
                    transition: 0.5s;
                    color: #111;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {
                        background: #9bdc28;
                    }
                }
                a{
                    display: inline-block;
                    padding: 10px 20px;
                    background: #fff;
                    border-radius: 4px;
                    margin-top: 10px;
                    text-decoration: none;
                    font-weight: 600;
                    color: #111;
                    opacity: 0;
                    transform: translateY(50px);
                    transition: 0.5s;
                    margin-top: 0;
                }
            }
            .color{
                opacity: 1;
                visibility: visible;
                transition-delay: 0.6s;
                h3 {
                    color: #fff;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }
                span {
                    width: 20px;
                    height: 20px;
                    background: #ff0;
                    border-radius: 50%;
                    margin: 0 5px;
                    cursor: pointer;
                    &:nth-child(2){
                        background: #9bdc28;
                    }
                    &:nth-child(3){
                        background: #03a9f4;
                    }
                    &:nth-child(4){
                        background: #e91e63;
                    }
                }
            }
            .size, .color {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                transition: 0.5s;opacity: 0;
                visibility: hidden;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
  }
  
  .card-bebidas .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  } 
  
  .card-bebidas .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .card-bebidas .card:hover .contentBx{
    height: 210px;
  }  
  
  .card-bebidas .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
}

/* -----------NOSOTROS----------- */
.nosotros_texto{
    text-align: center;
}

/* -----------CONTACTO----------- */
.formulario{
    margin-top: 100px;
}

/* -----------VARIOS----------- */
.linea{
    background-color: map-get($separador, color);
    height: map-get($separador, alto);
    width: 30px;
    text-align: center;
}
.separador{
    text-align: center;
}

/* -----------FOOTER----------- */
footer{
    background-color: $colorPrimario;
    height: 150px;
    width: 100%;
    color: $colorPrimarioTextos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .redes{
        ul{
            li{
                display: inline-block;
                margin: 0 5px;
                width: 50px;
                height: 50px;
                text-align: center;
                
                .facebook{
                    &:hover{
                        color: $colorFooterFacebook;
                    }
                }
                .twitter{
                    &:hover{
                        color: $colorFooterTwitter;
                    }
                }
                .instagram{
                    &:hover{
                        color: $colorFooterInstagram;
                    }
                }
                .youtube{
                    &:hover{
                        color: $colorFooterYoutube;
                    }
                }
            
                a{
                    display: block;
                    padding: 0 10px;
                    color: $colorPrimarioTextos;
                    line-height: 50px;
                    font-size: 18px;
                    transition: .2s;
                        &:hover{
                            transform: translateY(-3px) scale(1.05);
                            filter: none;
                        }
                }
            }
        }
    }
}