.info {
    height: 500px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "info_texto"
      "info_imagen"; 
      
    .info_imagen{
        background-image: url(../img/PerfilV2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        border-top: white;
        border-style: dashed;
    }
    .info_texto{
        display: flex;
        align-items: center;
        color: $colorPrimarioTextos;
        text-align: center;
        margin-top: 5px;
    }
}

#carouselInicioSlidesOnly{
    margin-top: 75px;
    max-height: 850px;
    overflow: hidden;
}

.horarios{
    background-color: $colorPrimario;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    h2{
    margin-top: 3px;
    font-size: 15px;
    color: $colorPrimarioTextos;
    }
    h3{
    font-size: 11px;
    color: $colorPrimarioTextos;
    }
}

.horarios438px{
    background-color: $colorPrimario;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
    font-size: 12px;
    color: $colorPrimarioTextos;
    }
}
