.tutorial_pregunta{
    color: $colorPrimarioTextos;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.pasos {  display: grid;
    margin-top: 50px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "tutorial_paso1"
      "tutorial_paso2"
      "tutorial_paso3";
    
    .tutorial_paso1{
        grid-area: "tutorial_paso1";
        position: relative;
        display: flex;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .textos_paso1{
        position: absolute;
        color: rgb(0, 0, 0);
    }
    .tutorial_paso2{
        @extend .tutorial_paso1;
        grid-area: "tutorial_paso2";
    }
    .textos_paso2{
        @extend .textos_paso1;
    }
    .tutorial_paso3{
        @extend .tutorial_paso1;
        grid-area: "tutorial_paso3";
    }
    .textos_paso3{
        @extend .textos_paso1;
    }
    span{
        font-weight: 600;
    }
}