$colorPrimario : #212529;
$colorPrimarioTextos : white;
$colorFooterFacebook : #3b5999;
$colorFooterInstagram : #e4405f;
$colorFooterTwitter : #55acee;
$colorFooterYoutube : #bd081c;


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalogo_titulo{
    margin-top: 100px;
}
.nosotros_texto{
    text-align: center;
}
.formulario{
    margin-top: 100px;
}
.separador{
    background-color: white;
    height: 3px;
}
.separador1{
    background-color: white;
    height: 3px;
    margin-top: 10px;
}